<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Logout</h4>
                        <p class="card-category">Cerrar sesion</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Usuario" [(ngModel)]="myUser.username" name="username">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="password " type="password" [(ngModel)]="myUser.password" name="password">
                                      </mat-form-field>
                                </div>
                            </div>
                               
                               
                            
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="loginUser()">Iniciar sesion</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
                 </div>
    </div>
  </div>
  