<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Logout</h4>
                        <p class="card-category">Cerrar sesion</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">

                                <div class="col-md-12">
                                    Esta seguro de cerrar sesion ?
                                </div>
                            </div>
                               
                               
                            
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="logoutUser()">Cerrar sesion</button>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
                 </div>
    </div>
  </div>
  